<form class="vehicle-form" (ngSubmit)="onSubmit()">

  <mat-form-field class="vehicle-full-width">
    <mat-label>Brand</mat-label>
    <input name="brand" [(ngModel)]="vehicle.brand" required matInput>
  </mat-form-field>

  <mat-form-field class="vehicle-full-width">
    <mat-label>Model</mat-label>
    <input name="model" [(ngModel)]="vehicle.model" required matInput>
  </mat-form-field>

  <mat-form-field class="vehicle-full-width">
    <mat-label>Year</mat-label>
    <input name="year" [(ngModel)]="vehicle.year" required matInput>
  </mat-form-field>

  <mat-form-field class="vehicle-full-width">
    <mat-label>Color</mat-label>
    <mat-select name="color" required [(ngModel)]="vehicle.color">
      <mat-option value="White">White</mat-option>
      <mat-option value="Black">Black</mat-option>
      <mat-option value="Gray">Gray</mat-option>
      <mat-option value="Red">Red</mat-option>
      <mat-option value="Blue">Blue</mat-option>
      <mat-option value="Other">Other</mat-option>
    </mat-select>
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary">Save</button>
</form>
